/* Estructura Principal */
.item-formulario {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Campo de Texto */
.item-input {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  font-size: 18px;
  background-color: white;
  padding: 14px 16px;
  border-radius: 4px;
  border: 2.5px solid #00471b;
  outline: none;
  box-sizing: border-box;
}

/* Boton Agregar Item */
.item-boton {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  margin-top: 10px; /* Separación entre el input y el botón en dispositivos móviles */
  padding: 16px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  /* background: #00471b; */
  background: #1E9201;
  color: #fff;
  text-transform: capitalize;
  display: flex; /* Para alinear icono y texto */
  align-items: center;
  justify-content: center;
}

.item-boton:hover {
  background: #219D01;
}

.item-boton svg {
  margin-right: 8px; /* Espacio entre el icono y el texto */
}

@media only screen and (min-width: 600px) {
  .item-input {
    width: 350px;
  }

  .item-boton {
    width: auto;
    margin-top: 0;
  }
}
